body {
  background-color: white;
}
h1 {
  font-family: 'Lora', sans-serif;
  color: #493C23;
  text-align: center;
  background-color: #DBD9D4;
  margin: 0 -15px;
  padding: 15px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #69634E;
  letter-spacing: 4px;
  font-size: 3em;
}
}

.longer-line {
  background-color: #69634E;
  height: 1px;
  margin-top: 15px;
}
.container {
  max-width: 970px;
}
.category-container {
  font-size: 1em;
  text-align: center;
}
#category-text {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  padding: 10px 0;
  border: 1px solid #f5883b;
  color: #f5883b;
  text-align: center;
}

.get-question-button {
  border: none;
  background-color: #F7F7F7;
  font-family: 'Lora', serif;
  width: 100%;
  height: 52px;
  font-size: 2.3em;
  margin-bottom: 10px;
  color: #69634E;
  border: 1px solid lightgrey;

}
.list-container {
  background-color: white;
  border: 1px solid #69634E;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  max-width: 970px;
}
#scoreboard {
  font-family: 'Oswald', serif;
     text-align: center;
    font-size: 4.3em;
    display: inline-block;
    min-width: 160px;

}
#score-text {
  display: block;
  font-family: 'lora';
  text-transform: uppercase;
  font-size: 18px;
  color: #f5883b;
}

.line {
  background-color: #69634E;
  display: inline-block;
  height: 1px;
  display: inline-block;
  height: 1px;
  vertical-align: 30px;
  width: 40.9%;
}

.modal-content {
  background-color: white
}

.modal-title {
  font-size: 3em;
  font-family: 'Lora', serif;
}

.form-control {
  font-size: 1em;
  font-family: 'Lora', serif;
  border: 1px solid #69634E;
}

.modal-content button {
  background-color: none;
  background: none;
  border: none;
  font-family: 'Lora', serif;
  text-align: center;
  font-style: italic;
  margin: 0 auto;
  display: block;
  color: #f5883b
}
.modal-header {
  border-bottom: 1px solid #69634E;
}
.popup {
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 1.5em;
}
.right-answer
{
  font-style: italic;
}
.strike-through{
  text-decoration: line-through;
}
