
  <div class="question-container" >
         <h4 id="category-text">{{ question.title }}</h4>
        <div class="" ng-repeat="clue in question.clues | limitTo: 5" >
          <div class="">
            <button class="get-question-button {{clue.id}}" data-toggle="modal" data-target="#{{clue.id}}" >${{clue.value * 2}}</button>
          </div>

  <!-- Modal -->
  <div class="modal fade" id="{{clue.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button"  class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5>${{clue.value * 2}}</h6>
        <h4 class="modal-title" id="myModalLabel">{{ clue.question }}
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" name="name" ng-model="answerinput" placeholder = "Enter answer" value="">
          <button type="button" name="button" ng-click="submitAnswer(answerinput, clue.answer, clue.value); disable(clue.id)"; >SUBMIT</button>
          <!-- <p ng-show = "show" class='popup'>
            Correct!
          </p>
          <p ng-show = "showwrong" class= 'popup'>
            Wrong! The answer is <span class = 'right-answer'>{{rightAnswer}}</span>
          </p> -->
        </div>
      </div>
    </div>
  </div>

</div> <!-- end of 'question-container' -->
