  <div class="line"></div>
  <h4 id= 'scoreboard'><span id="score-text">score</span>{{player.score}}</h4>
  <div class="line"></div>
  <div class="row list-container">
    <div  class="category-container col-md-2" ng-repeat = 'category in categories track by $index'>
      <h4 id="category-text">{{category.data.title}}</h4>
      <jeopardy-reader question=category.data.clues[0] func="displayChosenQuestion(question)" getansw="getAnswer(answer)" getvalue="getValue(value)"> </jeopardy-reader>
      <jeopardy-reader question=category.data.clues[1] func="displayChosenQuestion(question)"  getansw="getAnswer(answer)" getvalue="getValue(value)"></jeopardy-reader>
      <jeopardy-reader question=category.data.clues[2] func="displayChosenQuestion(question)" getansw="getAnswer(answer)" getvalue="getValue(value)"></jeopardy-reader>
      <jeopardy-reader question=category.data.clues[3] func="displayChosenQuestion(question)" getansw="getAnswer(answer)" getvalue="getValue(value)"></jeopardy-reader>
      <jeopardy-reader question=category.data.clues[4] func="displayChosenQuestion(question)" getansw="getAnswer(answer)" getvalue="getValue(value)"></jeopardy-reader>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button"  class="close" ng-click="clear(); hide()"  data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ chosenQuestion }}
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" name="name" ng-model="answerinput" placeholder = "Enter answer" value="">
          <button type="button" name="button" ng-click="checkAnswer(answerinput); ">SUBMIT</button>
          <p ng-show = "show" class='popup'>
            Correct!
          </p>
          <p ng-show = "showwrong" class= 'popup'>
            Wrong! The answer is <span class = 'right-answer'>{{rightAnswer}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
<div class="longer-line">
